body {font-family: 'Times New Roman', Times, serif, Haettenschweiler; background-color: black; colour}
p { box-sizing: border-box; border: 5px dotted red; outline: 5px ridge greenyellow; outline-offset: 15px; border-radius: 100px; height: 200px; width: 50%; text-align: center;  background-color:aqua; margin: 10px; padding: 25px 100px 25px 100px }
div {font-family: 'Times New Roman', Times, serif; font-size: 30px; color: greenyellow;}
